@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&family=Fraunces:opsz,wght@9..144,400;9..144,500;9..144,600;9..144,800;9..144,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif;  */

header {
  background-image: url("./img/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

h1,
h2,
h3 {
  font-family: "Fraunces", serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

nav ul {
  display: flex;
}

nav ul li {
  margin: 0 10px;
  font-family: "Barlow", sans-serif;
  color: #fff;
  font-weight: 600;
  padding: 12px;
}

nav ul .contacto {
  font-family: "Fraunces", serif;
  font-weight: 800;
  background-color: #fff;
  color: black;
  padding: 12px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

nav ul .contacto:hover {
  background-color: rgba(255, 255, 255, 0.56);
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.textosHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 13%;
}

.textosHeader h1 {
  font-size: 50px;
  color: #fff;
  margin-bottom: 40px;
}

.sec1 {
  display: flex;
  justify-content: space-between;
}

.textosSeccion {
  padding: 15% 5%;
}

.textosHeader img {
  object-fit: cover;
}

.textosSeccion h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

p {
  font-family: "Barlow", sans-serif;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 50px;
}

.textosSeccion a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: black;
  font-family: "Barlow", sans-serif;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  border: 2px solid rgba(244, 224, 6, 0.915);
}

.textosSeccion a:hover {
  border: 4px solid rgba(244, 224, 6, 0.915);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#hu 
{
width: 50vw;
display:flex ;
justify-content: right;
}

